interfaces {
{% for neighbor in underlay.neighbors %}
    {{ neighbor.interface }} {
        mtu 9192;
        unit 0 {
            description "to {{ neighbor.name }}";
            family inet {
                mtu 9000;
                address {{ neighbor.local_ip }}/31;
            }
        }
    }
{% endfor %}
}
protocols {
    bgp {
        log-updown;
        graceful-restart;
        group underlay {
            import bgp-clos-in;
            export  bgp-clos-out;
            type external;
            mtu-discovery;
            local-as {{ underlay.local.asn }};
            multipath multiple-as;
{% for neighbor in underlay.neighbors %}
            neighbor {{ neighbor.peer_ip }} {
                peer-as {{ neighbor.asn }};
            }
{% endfor %}
        }
    }
}

routing-options {
    router-id {{ loopback_ip }};
    forwarding-table {
        export PFE-LB;
    }
}

policy-options {
    policy-statement PFE-LB {
        then {
            load-balance per-packet;
        }
    }
    policy-statement bgp-clos-in {
        term bgp-clos-in {
            then accept;
        }
    }
    policy-statement bgp-clos-out {
        term bgp-clos-out {
            then {
                next-hop self;
                accept;
            }
        }
        term reject {
            then reject;
        }
    }
}
